@model RapidBootcamp.WebApplication.Models.Category

<html>
    <head><title>Ini Home Page</title></head>
    <body>
        <h1>Halo, @ViewData["FullName"]</h1>
        <p>Address: @ViewBag.Address</p>
        <p>@Model.CategoryId &nbsp; @Model.CategoryName</p>
    </body>
</html>