@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RapidBootcamp.WebApplication.Models.Customer

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Delete Customer</title>
</head>
<body>
    <h2>Delete Customer</h2>
    <form action="/Customers/Delete" method="post">
        <input type="hidden" name="CustomerId" value="@Model.CustomerId" />
        <div>
            <label for="CustomerName">Yakin untuk menghapus data customer "@Model.CustomerName"?</label>
        </div>
        <div>
            <input type="submit" value="Delete" />
        </div>
    </form>
</body>
</html>