@model RapidBootcamp.WebApplication.Models.Category

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ini Detail Category Page</title>
</head>
<body>
    <h1>Detail Category</h1>
    <br />
    <h2>Category ID: @Model.CategoryId</h2>
    <h2>Category Name: @Model.CategoryName</h2>
</body>
</html>