@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RapidBootcamp.WebApplication.Models.Category

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit Category</title>
</head>
<body>
    <h2>Edit Category</h2>
    <form action="/Categories/Edit" method="post">
        @* <input type="text" name="CategoryId" value="@Model.CategoryId" hidden /> *@
        <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
        <div>
            <label for="CategoryName">Category Name:</label>
            <input type="text" name="CategoryName" value="@Model.CategoryName" />
        </div>
        <div>
            <input type="submit" value="Edit" />
        </div>
    </form>
</body>
</html>